<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
                <th>Technique</th>
                <th>Selection</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                  Driver-Age
                </td>
                <td>
                    <input type="radio" name="gender" value="1" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                  <span style="position: relative; left:40px ;">
                  Under 25
                  </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="2" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      25-50
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="3" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      Above 50
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="4" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                  Vehicle-Year
                </td>
                <td>
                    <input type="radio" name="gender" value="5" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      Earlier than 2000
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="6" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      2000 - 2008
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="7" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      2008 - 2015
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="8" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      After 2015
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="9" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                  Monthly Claim Data
                </td>
                <td>
                     
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      Mean Monthly Claim Data
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="10" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      Median Monthly Claim Data
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="11" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      Monthly Claim Count
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="12" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                  Weekly Claim Counts
                </td>
                <td>
                     
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      Time Decomposition
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="13" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      Weekly Claim Count 2016
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="14" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                  Miscellaneous
                </td>
                <td>
                     
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      Big vs Small States
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="15" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
            <tr>
                <td>
                    <span style="position: relative; left:40px ;">
                      Male - Female
                    </span>
                </td>
                <td>
                    <input type="radio" name="gender" value="16" (change)='checkedBoxA($event)'> 
                </td>
            </tr>
              </tbody>
    </table>
    </div>
</div>