<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
      <div class='col-md-4' *ngIf="index == 1">
        
          <img src="./assets/images/driverages.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 2">
        
          <img src="./assets/images/driverage_until_25.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 3">
        
          <img src="./assets/images/driverage_25_50.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 4">
        
          <img src="./assets/images/driverage_over_50.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 5">
        
          <img src="./assets/images/normalized_vehyear.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 6">
        
          <img src="./assets/images/vehyear_up_to_2000.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 7">
        
          <img src="./assets/images/vehyear_2000_to_2008.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 8">
        
          <img src="./assets/images/vehyear_2008_to_2015.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 9">
        
          <img src="./assets/images/vehyear_2015_onwards.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 10">
        
          <img src="./assets/images/mean_claim_monthly.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 11">
        
          <img src="./assets/images/median_claim_monthly.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 12">
        
          <img src="./assets/images/monthly_claim_count_real.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 13">
        
          <img src="./assets/images/time_decomp.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 14">
        
          <img src="./assets/images/weekly_claim_count2016.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 15">
        
          <img src="./assets/images/bigvssmallstates.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
        <div class='col-md-4' *ngIf="index == 16">
        
          <img src="./assets/images/male_female.png"
            class="img-responsive center-block"
            style="width:1000px"/>
              
          
        </div>
  </div>
  <div class='card-footer'>
      <button class='btn btn-outline-secondary'
              (click)='onBack()'
              style='width:80px'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
    </div>
</div>
