<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/Insurance.PNG"
             class="img-responsive center-block"
             style="max-height:400px;padding-bottom:50px" />
      </div>
      <div class="text-center">
        <div class="column" style="float: left;
        width: 55%;
        padding: 5px;">
            <img src="./assets/images/accident.jpg"
            class="img-responsive center-block"
            style="max-height:300px;padding-bottom:50px;width:100%" />
        </div>
        <div class="column" style="float: left;
        width: 45%;
        padding: 5px;">
            
            <img src="./assets/images/analytics.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px;width:100%" />
        </div>
      </div>

      <div class="text-center">Done by:</div>
      <div class="text-center">
        <h4>Anirudh S</h4>
        <h4>Karan Rao</h4>
        <h4>Manoj M</h4>
      </div>
      

      
      <div class="text-center">
        <h3> Project Guide : Dr.Shylaja SS</h3>
        <h4> Project Report: <a href="https://www.google.com"> https://docs.google.VA-report.com</a> </h4>
      </div>
      <!---
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div>
    -->
    </div>
  </div>
</div>